/********** Template CSS **********/
:root {
    --primary: #273158;
    --light: #F0FBFC;
    --dark: #181d38;
}

body {
 /*-webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;*/
 }
	

.fw-medium {
    font-weight: 600 !important;
}

.fw-semi-bold {
    font-weight: 700 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

   .golden-color {
        color:#cf9c0a;
    }


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
	/*background: #273158 !important;*/
	background: linear-gradient(152deg, rgba(39,49,88,1) 0%, rgba(66,106,179,1) 100%);
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 0px;
}

.btn.btn-primary:hover {
background: #cf9c0a !important; 
}

.btn-demat {
    color: #FFFFFF;
	background: #cf9c0a !important;
}

.btn-demat:hover {
    background: #273158 !important;
	color: #FFFFFF;
}

/*** Navbar ***/
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar-light .navbar-nav .nav-link {
    margin-right: 20px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    /*color: var(--primary);*/
    color: #cf9c0a;	
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1rem;
    clear: both;
    font-weight: 700;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent !important;
    border: 0;
}
.dropdown-item:hover, .dropdown-item:focus{
    color: #cf9c0a !important;
}

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-light .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
    height: 75px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 700;
}

.navbar-light.sticky-top {
    top: -100px;
    transition: .5s;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        margin-top: 0;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .dropdown-menu.fade-down {
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header carousel ***/
@media (max-width: 768px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 500px;
    }
    
    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
	
	.section-title {
		font-size:13px;
		padding: 0px 5px !important;
	}
}

.header-carousel .owl-nav {
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    margin: 7px 0;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
    font-size: 22px;
    transition: .2s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.page-header {
    background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7)), url(../img/slide-1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-header-inner {
    background: rgba(15, 23, 43, .7);
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--light);
}

.aboutuspage-header {
    background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7)), url(../img/aboutus-cover.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*** Section Title ***/
.section-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
	color: #cf9c0a !important;
}

.section-title::before {
    position: absolute;
    content: "";
    width: calc(100% + 80px);
    height: 2px;
    top: 4px;
    left: -40px;
    background: var(--primary);
    z-index: -1;
}

.section-title::after {
    position: absolute;
    content: "";
    width: calc(100% + 120px);
    height: 2px;
    bottom: 5px;
    left: -60px;
    background: var(--primary);
    z-index: -1;
}

.section-title.text-start::before {
    width: calc(100% + 40px);
    left: 0;
}

.section-title.text-start::after {
    width: calc(100% + 60px);
    left: 0;
}


/*** Service ***/
.service-item {
    /*background: var(--light);*/
	background: #e9f9ff;
    transition: .5s;
}

.service-item:hover {
    margin-top: -10px;
    background: var(--primary);
}

.service-item * {
    transition: .5s;
}

.service-item:hover * {
    color: var(--light) !important;
}


/*** Categories & Courses ***/
.category img,
.course-item img {
    transition: .5s;
}

.category a:hover img,
.course-item:hover img {
    transform: scale(1.1);
}


/*** Team ***/
.team-item img {
    transition: .5s;
}

.team-item:hover img {
    transform: scale(1.1);
}


/*** Testimonial ***/
.testimonial-carousel::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    /*background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);*/
    z-index: 1;
}

.testimonial-carousel::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    /*background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);*/
    z-index: 1;
}

@media (min-width: 768px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 200px;
    }
}

@media (min-width: 992px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 300px;
    }
}

.testimonial-carousel .owl-item .testimonial-text,
.testimonial-carousel .owl-item.center .testimonial-text * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-text {
    background: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-text * {
    color: #FFFFFF !important;
}

.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 1px solid #CCCCCC;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--primary);
    border-color: var(--primary);
}


/*** Footer ***/


.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    font-weight: normal;
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

/*** Browse Category ***/
.browsec-item {
    /*background: var(--light);*/
	background: #e9f9ff;
    transition: .5s;
}

.browsec-item:hover {
    margin-top: -10px;
    background: #e9f9ff;
}

/*** Blog Box ***/
.trading-blogs-box{width: 100%; height: auto; border: 1px solid #e0e0e0; border-radius: 5px; padding: 10px; box-sizing: border-box; text-align: center;}

.trading-blogs-box:hover{width: 100%; height: auto; border: 1px solid #e0e0e0; border-radius: 5px; box-shadow: 5px 5px 10px #d6d7d8; padding: 10px; box-sizing: border-box; text-align: center;}

.more-courses {
  background-image: url('../img/course-bg-image.jpg');
}

.fixfooterstrip {
   position: fixed;
   bottom: 0;
   width: 100%;
   height: 70px;   /* Height of the footer */
   background: #273158;
   color: #FFFFFF;
   z-index:10;
}

.fixfooterstrip p{
   padding-top:10px;
}

/* WhatsApp Button */

  /* for desktop */
.whatsapp_float {
	position:fixed;
	width:60px;
	height:60px;
	/*bottom:40px;*/
	bottom:180px;
	right:0px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
        font-size:30px;
	box-shadow: 2px 2px 3px #999;
        z-index:100;
}

.whatsapp-icon {
	margin-top:16px;
}

.telegram_float {
	position:fixed;
	width:60px;
	height:60px;
	bottom:120px;
	right:0px;
	background-color: #54a9ea;
	color:#FFF;
	border-radius:50px;
	text-align:center;
        font-size:30px;
	box-shadow: 2px 2px 3px #999;
        z-index:100;
}

.telegram-icon {
	margin-top:16px;
}
/* for mobile */
@media screen and (max-width: 767px){
     .whatsapp-icon {
	 margin-top:10px;
     }
    .whatsapp_float {
        width: 40px;
        height: 40px;
        bottom: 100px;
        left: 10px;
        font-size: 22px;
    }
	.telegram_float {
	width:40px;
	height:40px;
	bottom:50px;
	left:10px;
    font-size:22px;
	}
    .telegram-icon {
	margin-top:10px;
   }
	
	
	#fixed-social {
  position: fixed;
  bottom: 100px !important;
  z-index:100;
  right:1px;
}
}

/* fixed social*/
#fixed-social {
  position: fixed;
  bottom: 80px;
  z-index:100;
}

#fixed-social a {
  color: #fff;
  display: block;
  height: 40px;
  position: relative;
  text-align: center;
   line-height: 40px;
  width: 40px;
  margin-bottom: 3px;
  z-index: 2;
   display: flex;
    justify-content: center;
    align-items: center;
}
#fixed-social a:hover>span{
 visibility: visible;
 left: 41px;
 opacity: 1;
} 
#fixed-social a span {
 line-height: 20px;
   left: 60px;
   font-size: 12px;
   position: absolute;
   text-align: center;
   width: 120px;
   visibility: hidden;
   transition-duration: 0.5s;
   z-index: 1;
   opacity: 0;
}
.fixed-facebook{
  background-color: #3b5998;
}
.fixed-facebook span{
 background-color: #3b5998;
}
.fixed-twitter{
 background-color: #1da1f2;

}
.fixed-twitter span{
  background-color: #1da1f2;
}


.fixed-instagrem{
 background-color: #e4405f;

}
.fixed-instagrem span{
  background-color: #e4405f;
}
.fixed-tumblr{
 background-color: #ff0000;

}
.fixed-tumblr span{
  background-color: #ff0000;
}
/*end fixed social*/

.tawk-button {
    height: 40px !important;
}

.tawk-text-bold-3 {
    font-size: 1rem !important;
}

/* -- CTA bar top -- */
.cta-bar {
 position: fixed;
 z-index: 99;
 font-weight: 700;
 top: 0;
 color: #fff;
 background: #002984;
 text-align: center;
 width:100%;
}

.cta-bar p {
 margin-bottom: 0 !important;
}
/* -- cta button -- */

/********** Template CSS **********/
:root {
    --primary: #273158;
    --light: #F0FBFC;
    --dark: #181d38;
}

body {
 /*-webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;*/
 }
	

.fw-medium {
    font-weight: 600 !important;
}

.fw-semi-bold {
    font-weight: 700 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

   .golden-color {
        color:#cf9c0a;
    }


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
	/*background: #273158 !important;*/
	background: linear-gradient(152deg, rgba(39,49,88,1) 0%, rgba(66,106,179,1) 100%);
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 0px;
}

.btn.btn-primary:hover {
background: #cf9c0a !important; 
}

.btn-demat {
    color: #FFFFFF;
	background: #cf9c0a !important;
}

.btn-demat:hover {
    background: #273158 !important;
	color: #FFFFFF;
}

/*** Navbar ***/
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar-light .navbar-nav .nav-link {
    margin-right: 20px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    /*color: var(--primary);*/
    color: #cf9c0a;	
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1rem;
    clear: both;
    font-weight: 700;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent !important;
    border: 0;
}
.dropdown-item:hover, .dropdown-item:focus{
    color: #cf9c0a !important;
}

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-light .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
    height: 75px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 700;
}

.navbar-light.sticky-top {
    top: -100px;
    transition: .5s;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        margin-top: 0;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .dropdown-menu.fade-down {
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header carousel ***/
@media (max-width: 768px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 500px;
    }
    
    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
	
	.section-title {
		font-size:13px;
		padding: 0px 5px !important;
	}
}

.header-carousel .owl-nav {
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    margin: 7px 0;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
    font-size: 22px;
    transition: .2s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.page-header {
    background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7)), url(../img/slide-1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-header-inner {
    background: rgba(15, 23, 43, .7);
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--light);
}

.aboutuspage-header {
    background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7)), url(../img/aboutus-cover.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*** Section Title ***/
.section-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
	color: #cf9c0a !important;
}

.section-title::before {
    position: absolute;
    content: "";
    width: calc(100% + 80px);
    height: 2px;
    top: 4px;
    left: -40px;
    background: var(--primary);
    z-index: -1;
}

.section-title::after {
    position: absolute;
    content: "";
    width: calc(100% + 120px);
    height: 2px;
    bottom: 5px;
    left: -60px;
    background: var(--primary);
    z-index: -1;
}

.section-title.text-start::before {
    width: calc(100% + 40px);
    left: 0;
}

.section-title.text-start::after {
    width: calc(100% + 60px);
    left: 0;
}


/*** Service ***/
.service-item {
    /*background: var(--light);*/
	background: #e9f9ff;
    transition: .5s;
}

.service-item:hover {
    margin-top: -10px;
    background: var(--primary);
}

.service-item * {
    transition: .5s;
}

.service-item:hover * {
    color: var(--light) !important;
}


/*** Categories & Courses ***/
.category img,
.course-item img {
    transition: .5s;
}

.category a:hover img,
.course-item:hover img {
    transform: scale(1.1);
}


/*** Team ***/
.team-item img {
    transition: .5s;
}

.team-item:hover img {
    transform: scale(1.1);
}


/*** Testimonial ***/
.testimonial-carousel::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    /*background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);*/
    z-index: 1;
}

.testimonial-carousel::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    /*background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);*/
    z-index: 1;
}

@media (min-width: 768px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 200px;
    }
}

@media (min-width: 992px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 300px;
    }
}

.testimonial-carousel .owl-item .testimonial-text,
.testimonial-carousel .owl-item.center .testimonial-text * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-text {
    background: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-text * {
    color: #FFFFFF !important;
}

.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 1px solid #CCCCCC;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--primary);
    border-color: var(--primary);
}


/*** Footer ***/


.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    font-weight: normal;
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

/*** Browse Category ***/
.browsec-item {
    /*background: var(--light);*/
	background: #e9f9ff;
    transition: .5s;
}

.browsec-item:hover {
    margin-top: -10px;
    background: #e9f9ff;
}

/*** Blog Box ***/
.trading-blogs-box{width: 100%; height: auto; border: 1px solid #e0e0e0; border-radius: 5px; padding: 10px; box-sizing: border-box; text-align: center;}

.trading-blogs-box:hover{width: 100%; height: auto; border: 1px solid #e0e0e0; border-radius: 5px; box-shadow: 5px 5px 10px #d6d7d8; padding: 10px; box-sizing: border-box; text-align: center;}

.more-courses {
  background-image: url('../img/course-bg-image.jpg');
}

.fixfooterstrip {
   position: fixed;
   bottom: 0;
   width: 100%;
   height: 70px;   /* Height of the footer */
   background: #273158;
   color: #FFFFFF;
   z-index:10;
}

.fixfooterstrip p{
   padding-top:10px;
}

/* WhatsApp Button */

  /* for desktop */
.whatsapp_float {
	position:fixed;
	width:60px;
	height:60px;
	/*bottom:40px;*/
	bottom:180px;
	right:0px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
        font-size:30px;
	box-shadow: 2px 2px 3px #999;
        z-index:100;
}

.whatsapp-icon {
	margin-top:16px;
}

.telegram_float {
	position:fixed;
	width:60px;
	height:60px;
	bottom:120px;
	right:0px;
	background-color: #54a9ea;
	color:#FFF;
	border-radius:50px;
	text-align:center;
        font-size:30px;
	box-shadow: 2px 2px 3px #999;
        z-index:100;
}

.telegram-icon {
	margin-top:16px;
}
/* for mobile */
@media screen and (max-width: 767px){
     .whatsapp-icon {
	 margin-top:10px;
     }
    .whatsapp_float {
        width: 40px;
        height: 40px;
        bottom: 100px;
        left: 10px;
        font-size: 22px;
    }
	.telegram_float {
	width:40px;
	height:40px;
	bottom:50px;
	left:10px;
    font-size:22px;
	}
    .telegram-icon {
	margin-top:10px;
   }
	
	/* Logo adjustment for mobile */
    .navbar-brand img {
        max-height: 50px; /* Adjust size as needed */
        width: auto;
    }
    .navbar-light .navbar-brand {
        height: auto;
    }
	
	#fixed-social {
  position: fixed;
  bottom: 100px !important;
  z-index:100;
  right:1px;
}
}

/* fixed social*/
#fixed-social {
  position: fixed;
  bottom: 80px;
  z-index:100;
}

#fixed-social a {
  color: #fff;
  display: block;
  height: 40px;
  position: relative;
  text-align: center;
   line-height: 40px;
  width: 40px;
  margin-bottom: 3px;
  z-index: 2;
   display: flex;
    justify-content: center;
    align-items: center;
}
#fixed-social a:hover>span{
 visibility: visible;
 left: 41px;
 opacity: 1;
} 
#fixed-social a span {
 line-height: 20px;
   left: 60px;
   font-size: 12px;
   position: absolute;
   text-align: center;
   width: 120px;
   visibility: hidden;
   transition-duration: 0.5s;
   z-index: 1;
   opacity: 0;
}
.fixed-facebook{
  background-color: #3b5998;
}
.fixed-facebook span{
 background-color: #3b5998;
}
.fixed-twitter{
 background-color: #1da1f2;

}
.fixed-twitter span{
  background-color: #1da1f2;
}


.fixed-instagrem{
 background-color: #e4405f;

}
.fixed-instagrem span{
  background-color: #e4405f;
}
.fixed-tumblr{
 background-color: #ff0000;

}
.fixed-tumblr span{
  background-color: #ff0000;
}
/*end fixed social*/

.tawk-button {
    height: 40px !important;
}

.tawk-text-bold-3 {
    font-size: 1rem !important;
}

/* -- CTA bar top -- */
.cta-bar {
 position: fixed;
 z-index: 99;
 font-weight: 700;
 top: 0;
 color: #fff;
 background: #002984;
 text-align: center;
 width:100%;
}

.cta-bar p {
 margin-bottom: 0 !important;
}
/* -- cta button -- */



